<div class="game-detail">

    <li>
        <h2>{{jeu.title}}</h2>
        <ul>
            <li><strong>Description :</strong> {{jeu.description}}</li>
            <li><strong>Date de sortie :</strong> {{jeu.releaseDate}}</li>
            <li><strong>Genre :</strong> {{jeu.genre.genre}}</li>
            <li><strong>Éditeur :</strong> {{jeu.editeur.editeur}}</li>
        </ul>
    </li>
</div>