<form action="/games/{{game.id}}/update" method="post">
    <!-- Titre -->
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" value="{{game.title}}" required><br>

    <!-- Date de sortie -->
    <label for="releaseDate">Date de sortie :</label>
    <input type="date" id="releaseDate" name="releaseDate" value="{{formattedDate}}" required><br>

    <!-- Description -->
    <label for="description">Description :</label>
    <textarea id="description" name="description" required>{{game.description}}</textarea><br>

    <!-- Genre -->
    <label for="genre">Genre :</label>
    <input type="text" id="genre" name="genre" value="{{game.genre.genre}}" required><br>

    <!-- Éditeur -->
    <label for="editeur">Éditeur :</label>
    <select id="editeur" name="editeurId" required>
        {{#each publishers}}
            <option value="{{this.id}}" 
                {{#if (eq this.id ../game.editeurId)}}selected{{/if}}>
                {{this.nom}}
            </option>
        {{/each}}
    </select><br>

    <!-- Développeur -->
    <label for="developer">Développeur :</label>
    <input type="text" id="developer" name="developer" value="{{game.developer}}" required><br>

    <!-- Bouton de soumission -->
    <button type="submit">Modifier</button>
</form>
