<div class="game-detail">
    <h2>{{jeu.title}}</h2>
    <p><strong>Description :</strong> {{jeu.description}}</p>
    <p><strong>Date de sortie :</strong> {{jeu.releaseDate}}</p>
    <p><strong>Genre :</strong> {{jeu.genre.genre}}</p>
    <p><strong>Éditeur :</strong> {{jeu.editeur.editeur}}</p>
</div>