<h1>Détails du jeu</h1>

<div class="gamedetails" id="gameDetails">
    <h2>{{jeu.title}}</h2>
    <ul>
        <li>Description : {{jeu.description}}</li><br>
        <li>Date de sortie : {{releaseDateFormattedString}}</li><br>
        <li>Genre : <a href="/genres/{{jeu.genre.id}}">{{jeu.genre.genre}}</a></li><br>
        <li>Éditeur : <a href="/publishers/{{jeu.editeur.idEditeur}}/detail">{{jeu.editeur.editeur}}</a></li><br> 
    </ul>
</div>

<div class="gamedetailseditable" id="gameDetailsEditable" style="display: none;">
    <form action="/games/{{jeu.id}}/update" method="POST">
        <!-- Titre -->
        <label for="</form>title">Titre :</label>
        <input type="text" id="title" name="title" value="{{jeu.title}}" required><br>

        <!-- Description -->
        <label for="description">Description :</label>
        <textarea id="description" name="description" required>{{jeu.description}}</textarea><br>

        <!-- Date de sortie -->
        <!-- /!\ La date n'est pas bonne format a trouver -->
        <label for="releaseDate">Date de sortie :</label>
        <input type="date" id="releaseDate" name="releaseDate" value="{{releaseDateFormatted}}" required><br>

        <!-- Genre -->
        <label for="genre">Genre :</label>
        <select id="genre" name="genre" required>
            {{#each genres}}
                <option value="{{this.genre}}" {{#if (eq this.idGenre ../jeu.genre.idGenre)}}selected{{/if}}>
                    {{this.genre}}
                </option>
            {{/each}}
        </select><br>

        <!-- Éditeur -->
        <label for="editeur">Éditeur :</label>
        <select id="editeur" name="editeur" required>
            {{#each editeurs}}
                <option value="{{this.editeur}}" {{#if (eq this.idEditeur ../jeu.editeur.idEditeur)}}selected{{/if}}>
                    {{this.editeur}}
                </option>
            {{/each}}
        </select><br>

        <!-- Bouton de soumission -->
        <button type="submit">Modifier</button>
    </form>
</div>

{{> EditDeleteButtons}}

<!-- Bouton pour changer de mode -->
<script>
    const editButton = document.querySelector('.edit img');
    const deleteButton = document.querySelector('.delete img');

    const gameDetails = document.getElementById('gameDetails');
    const gameDetailsEditable = document.getElementById('gameDetailsEditable');
    let editMode = false;

    editButton.addEventListener('click', () => {
        editMode = !editMode;
        if (editMode) {
            gameDetails.style.display = 'none';
            gameDetailsEditable.style.display = 'block';
        } else {
            gameDetails.style.display = 'block';
            gameDetailsEditable.style.display = 'none';
        }
    });

    deleteButton.addEventListener('click', () => {
        //demande de confirmer la suppression
        if (confirm("Voulez-vous vraiment supprimer ce jeu ?")) {
            //redirection vers la page de suppression
            window.location.href = `/games/{{jeu.id}}/delete`;
        }
    });
</script>

<a href="/">Retour à la liste</a>