<body>
    <h1 id="main-title">Accueil</h1>

    <div class="afficher">
        <h2 class="section-title">Jeux mis en avant</h2>
            <ul id="featured-games">
            
            </ul>
    </div>

    <div class="CRUD">
        <div class="afficher" id="all-games">
            <h2 class="section-title">Liste de tous les jeux</h2>
            <ul>
                {{#each (sort games 'title')}}
                    <li>
                        <a href="/games/{{this.id}}/detail">{{this.title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <div class="ajouter" id="add-game">
            <h2 class="section-title">Ajouter un jeu</h2>
            {{> newgame}}
        </div>
    </div>
    
    <div class="CRUD">
        <div class="afficher" id="all-publishers">
            <h2 class="section-title">Liste des éditeurs</h2>
            <ul>
                {{#each (sort publishers 'editeur')}}
                    <li><a href="/publishers/{{this.idEditeur}}/detail">{{this.editeur}}</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="ajouter" id="add-publisher">
            <h2 class="section-title">Ajouter un éditeur</h2>
            {{> newpublisher}}
        </div>
    </div>

    <div class="afficher">
        <h2 class="section-title">Liste des genres</h2>
        <ul id="all-genres">
            {{#each (sort genres 'genre')}}
                <li><a href="/genres/{{this.idGenre}}/detail">{{this.genre}}</a></li>
            {{/each}}
        </ul>
    </div>    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const headers = document.querySelectorAll(".section-title");
            // Rend cliquables les h2

            headers.forEach(header => {
                header.addEventListener("click", function() {
                    const ul = this.nextElementSibling;
                    // Prend le prochain élément après le h2
                    if (ul && ul.tagName === "UL") {
                        // Si le prochain élément est une liste
                        ul.classList.toggle("expanded");
                        // Appelle l'expanded du css pour modifier l'affichage
                    }
                    event.stopPropagation();
                });
            });
        });
    </script>
</body>